/* COMMON */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #2B3B34;
}

a {
    color: #678E7C;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

.cta-button {
    min-width: 150px;
    background-color: #ccac0a;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.5s ease-in-out;
}

.cta-button:hover {
    background-color: #a78c0a;
}

.cta-button--big {
    min-width: 250px;
    font-size: 1.70rem;
    padding: 0.7rem;
}

/* END OF COMMON */

/* NAV */

.nav {
    background-color: #678E7D;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.nav__links {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    color: #FFF;
    text-decoration: none;
    min-width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link:hover {
    background-color: #A4C3B2;
}

.nav__link--active {
    background-color: #7DA191;
}

/* END OF NAV */

/* HERO */

.hero {
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__info {
    color: #fff;
    text-align: center;
}

/* END OF HERO */

/* FEATURES */

.features {
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.feature {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature__icon {
    font-size: 3rem;
}

/* END OF FEATURES */

/* TEAM */

.team {
    background-color: #CCE3DE;
    padding: 3rem 0;
    margin-top: 2rem;
}

.team__container {
    display: flex;
}

.team__header {
    margin-top: 0;
}

.team__info, .team__photo {
    flex-basis: 50%;
    padding: 0 2rem;
}

.team__photo--container {
    width: 100%;
    height: 250px;
    background-image: url(../img/teamphoto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* END OF TEAM */

/* TESTIMONIALS */

.testimonials {
    padding-top: 2rem;
    display: flex;
}

.testimonial-arrow {
    flex-basis: 10%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial {
    padding: 2rem 0;
    flex-basis: 80%;
    text-align: center;
}

.testimonial__rule {
    width: 400px;
    margin: 2rem auto;
}

.testimonial__avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

/* END OF TESTIMONIALS */

/* CONTACT FORM */

.contact {
    background-color: #7DA190;
    color: white;
    padding: 3rem 0;
}

.contact__container {
    display: flex;
}

.contact__address, .contact__form {
    flex-basis: 50%;
    padding: 0 2rem;
}

.contact__header {
    margin-top: 0;
}

.contact__rule {
    width: 30%;
    min-width: 100px;
    margin: 0;
}

.contact__address-line {
    display: flex;
}

.contact__icon {
    padding-right: 1rem;
    width: 1rem;
}

.contact-form__input {
    color: white;
    min-height: 2rem;
    border-radius: 4px;
    border: 1px solid white;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    box-sizing: border-box;
    outline: none;
}

.contact-form__input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.contact-form__input--fullwidth {
    width: 100%;
}

.contact-form__input--transparent {
    background-color: transparent;
}

.contact-form__submit {
    min-width: 100px;
    border: none;
    background-color: #B0D4CC;
    padding: 0.5rem;
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;

    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.contact-form__submit--fullwidth {
    width: 100%
}

.contact-form__submit:hover {
    background-color: #a4c7bf;
}

/* END OF CONTACT FORM */

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    color: white;
    background-color: #678E7D;
}

.footer__header {
    margin: 0;
}

/* END OF FOOTER */

/* COPYRIGHT */

.copyright {
    padding: 1rem;
    background-color: #5a7e6e;
    color: white;
    font-size: 0.5rem;
    text-align: center;
}

/* END OF COPYRIGHT */